<%- include("osapohjat/header")%>
<main id="autot">
  <section class="main-content">
    <h3>Hakutulos</h3>
    <div class="autot" id="hakutulos"></div>
  </section>
</main>
<%- include("osapohjat/footer")%>
