<%- include("osapohjat/header")%>
<main id="autot">
  <section class="main-content">
    <h3>Kaikki autot</h3>
    <div class="autot" id="autot-koti"></div>
  </section>
</main>

<%- include("osapohjat/footer")%>
