<%- include("osapohjat/header")%>
<main>
  <!-- <section class="post">
        <div class="post-cred">
          <img src="./images/avatar-vangogh.jpg" alt="" class="profile-image" />
          <div class="name-location">
            <p class="avatar-name">Vincent van Gogh</p>
            <p class="location">Zudert, Netherlands</p>
          </div>
        </div>
        <div class="post-image">
          <img src="./images/post-vangogh.jpg" alt="" />
          <div class="heart-icon"><i class="fa-solid fa-heart"></i></div>
        </div>
        <div class="buttons-comments">
          <div class="buttons">
            <button><img src="./images/icon-heart.png" alt="" /></button
            ><button><img src="./images/icon-comment.png" alt="" /></button
            ><button><img src="./images/icon-dm.png" alt="" /></button>
          </div>
          <p class="likes">21,492 likes</p>
          <div class="comments">
            <p class="commenter">
              <span class="commenter-name">vincey1853</span> just took a few
              mushrooms lol
            </p>
          </div>
        </div>
      </section> -->
</main>

<%- include("osapohjat/footer")%>
