:root {
  --background: #1c1c1c;
  --accent: #6019e6;
  --content-max-width: 1024px;
  --div-padding: 2rem;
  --item-gaps: 1rem;

  --header-size: 40px;
  --header-weight: 900;
  --header-color: #f2f2f2;

  --second-header-size: 38px;
  --third-header-size: 30px;

  --text-size: 16px;
  --text-weight: 400;
  --text-color: #c2c2c2;

  --label-size: 13px;
  --label-color: #a2a2a2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: system-ui, sans-serif;
}

.header-content,
.main-content {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

main {
  padding: 36px 0;
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  background-color: var(--accent);
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

form input {
  height: 83px;
  padding: 20px;
  font-size: 58px;
  font-weight: 800;
  text-align: center;
  max-width: 211px;
  background-color: transparent;
  border: 2px solid #b295ff;
  border-radius: 5px;
  color: var(--header-color);
}

form button {
  background-color: var(--header-color);
  border-radius: 5px;
  padding: 10px 28px;
  font-size: 1rem;
  border: none;
  transition: all 0.2s ease-out;
}

form button:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

h1 {
  font-size: var(--header-size);
  font-weight: var(--header-weight);
  color: var(--header-color);
  margin: 0;
}

h2 {
  font-size: var(--second-header-size);
  font-weight: var(--header-weight);
  color: var(--header-color);
  margin: 0;
}

h3 {
  font-size: var(--third-header-size);
  font-weight: var(--header-weight);
  color: var(--header-color);
  margin: 0;
}

p {
  font-size: var(--text-color);
  font-weight: var(--text-weight);
  color: var(--text-color);
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 40px 0;
  border-radius: 5px;
  background-color: #273549;
  width: 100%;
  opacity: 0.1;

  animation-name: box-slide;
  animation-duration: 1.3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.box:hover {
  cursor: pointer;
  outline: 2px solid white;
  outline-offset: -2px;
}

@keyframes box-slide {
  to {
    opacity: 1;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header-animate {
  animation-name: slide-top;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.notif-center {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  gap: 0.5rem;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: fit-content;
}

.notif {
  background-color: var(--header-color);
  padding: 8px 15px;
  border-radius: 5px;
  color: var(--background);
  font-size: var(--label-size);
  font-weight: 650;
  display: flex;
  gap: 10px;
  opacity: 1;
  border: 1px solid grey;

  animation-name: notif-fade;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fa-check,
.notif label {
  align-self: center;
}

.fa-check {
  color: var(--header-color);
  background-color: #55cd3a;
  padding: 5px 6.5px;
  font-size: calc(var(--label-size) - 3px);
  border: none;
  border-radius: 50%;
  font-weight: bold;
}

@keyframes notif-fade {
  100% {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    opacity: 0;
  }
}

@keyframes slide-top {
  100% {
    height: 285px;
  }
}
