*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background: #1c1c1c;
  --accent: #ffffff;
  --content-max-width: 1024px;
  --div-padding: 2rem;
  --item-gaps: 1rem;

  --header-size: 50px;
  --header-weight: 900;
  --header-color: #f2f2f2;

  --second-header-size: 38px;
  --third-header-size: 30px;

  --text-size: 16px;
  --text-weight: 400;
  --text-color: #c2c2c2;

  --label-size: 13px;
  --label-color: hsl(0, 8%, 85%);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  /* background: radial-gradient(
    circle,
    #16db99,
    #00c3b6,
    #00a7c5,
    #0089c1,
    #0069a9
  ); */
  font-family: "Gloock", sans-serif;
  padding: 3rem;
}

.emoji {
  font-size: 100px;
}

header {
  padding: 46px;
  background: url("./images/header.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 36vh;
  border-radius: 10px;
  display: flex;
  align-items: end;
}

header q {
  text-shadow: 0 0 16px black;
  font-size: var(--header-size);
  font-weight: var(--header-weight);
  color: var(--header-color);
  margin: 0;
}

.menu h1 {
  text-align: center;
  margin-bottom: 2rem;
}

nav,
main,
header,
.article-content {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  margin-bottom: 2rem;
}

nav h1,
ul {
  align-self: center;
}

main {
  padding: 60px 0;
}

footer {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 0;
  display: none;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 10px;
  color: var(--background);
  overflow: hidden;
}

.item-product {
  flex: 1 0 200px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--header-color);
  border-radius: 50px;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 3px dashed #16db99;
}

.fa-plus {
  border: 1.5px solid #dedede;

  font-size: 32px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--header-color);
  padding: 10px 12px;
}

.fa-plus:hover {
  cursor: pointer;
  outline: 5px solid white;
  outline-offset: -2px;
}

.product-info {
  width: 100%;
}

footer {
  color: var(--header-color);
}

footer > h3 {
  text-align: center;
}

.ordered {
  display: flex;
  justify-content: space-between;
}

.ordered button {
  background-color: transparent;
  border: none;
  color: var(--label-color);
  font-weight: lighter;
}

.name-remove {
  display: flex;
  gap: 8px;
}

.name-remove h3,
.name-remove button {
  align-self: center;
}

.name-remove button:hover {
  font-weight: bolder;
  color: var(--header-color);
  cursor: pointer;
}

.order-container {
  padding: 30px 0;
}

.summary {
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.summary-info {
  display: flex;
  justify-content: space-between;
}

.article-content img {
  height: 50vh;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.article-content {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 0;
}

.special-button {
  width: 100%;
  background-color: #16db99;
  font-size: 1rem;
  padding: 18px 0;
  border-radius: 5px;
}

h1 {
  font-size: var(--header-size);
  font-weight: var(--header-weight);
  color: var(--header-color);
  margin: 0;
}

h2 {
  margin: 0;
  color: var(--header-color);
  font-size: (--second-header-size);
}

h3 {
  margin: 0;
  font-size: var(--third-header-size);
}

ul h3 {
  text-decoration-line: underline;
  text-decoration-style: "solid";
  text-decoration-color: #16db99;
  text-decoration-thickness: 5px;
}

.price-ordered {
  font-size: 1.3rem;
}

p {
  font-size: var(--text-size);
  color: var(--text-color);
  font-weight: var(--text-weight);
}

label {
  color: var(--label-color);
}

button,
input {
  font-family: "Gloock", sans-serif;
}

button:hover,
i:hover {
  cursor: pointer;
  opacity: 0.8;
}

.notif-center {
  position: fixed;
  transform: translateX(-50%);
  top: 30px;
  left: 50vw;
}

.notif {
  display: flex;
  gap: 1rem;
  color: var(--background);
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0;
  background-color: var(--header-color);
}

.notif-animation {
  animation-name: fade-notif;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}

.notif label {
  color: var(--background);
  font-weight: 600;
}

.notif label,
.notif i {
  align-self: center;
}

.fa-moon,
.fa-sun {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  padding: 10px 14px;
  border-radius: 50%;
  color: var(--header-color);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
}

@keyframes fade-notif {
  0% {
    transform: translate(0, 0px);
    opacity: 1;
  }

  100% {
    transform: translate(0, 8px);
    opacity: 0;
  }
}

dialog {
  box-shadow: 5.19px 5.19px 255.44px 0px #00000080;
  border: 1px solid grey;
  padding-top: 80px;
  width: 500px;
  height: 524px;
}

.loading {
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
}

dialog form {
  padding: 30px 23px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  text-align: center;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

dialog h2 {
  color: var(--second-header-size);
  font-weight: var(--header-weight);
  text-align: center;
  margin-top: 12px;
}

dialog img {
  position: absolute;
  height: 60px;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
}

form input {
  width: 100%;
  padding: 16px 26px;
  font-size: 20px;
  border-radius: 3.89px;
  border: 1.3px solid #757575;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.article-content ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
  color: var(--accent);
  margin: 0;
  padding: 0;
}

.article-content li {
  font-size: calc(var(--text-size) + 15px);
  color: var(--label-color);
}

nav li {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li a {
  margin: 10px 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-order {
  margin-top: 12px;
  font-weight: 700;
  background-color: #16db99;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 35px;
  display: block;
}

details {
  color: grey;
  background: rgba(153, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}

summary {
  color: white;
}

details summary {
  cursor: pointer;
}

details summary > * {
  display: inline;
}

.article-content h1 {
  margin-bottom: 2rem;
}

.faq-questions {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: var(--item-gaps);
}

@media (max-width: 800px) {
  .fa-moon,
  .fa-sun {
    display: none;
  }
  .second-article h1 {
    margin-bottom: 2rem;
    text-align: center;
  }
  .second-article {
    flex-direction: row-reverse;
  }

  .faq-questions {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: var(--item-gaps);
  }

  .second-article img {
    display: none;
  }
  main,
  header,
  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    flex-direction: column;
  }

  nav ul {
    margin-top: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header q {
    font-size: calc(var(--header-size) - 17px);
  }
  .article-content img {
    height: 20vh;
    align-self: self-start;
  }
  .article-content {
    flex-direction: column;
  }
}
