.app {
  max-width: var(--content-max-width);
  margin: 0 auto;
  min-height: 100vh;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 5px solid #44354a;
  overflow: hidden;
  margin: 24px 0;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  width: 250px;
  margin-bottom: 24px;
}

.menu-buttons button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 12px;
  font-weight: bold;
  color: var(--header-color);
  background: #9e4770;
}

.menu-buttons button:first-child,
.menu-buttons button:nth-child(2) {
  flex: 1;
}

.menu-buttons button:last-child {
  min-width: 100%;
  flex: 2;
  border-radius: 30px;
  border: 2px solid var(--background);
}

.clear-btn:hover {
  border: 2px solid var(--header-color);
}

.stats-display {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 12px;
  border-radius: 24px;
  background-color: #171717;
  border: 3px solid #3c3c3c;
  min-height: 50px;
}

.stats-container li {
  list-style-type: none;
}

.displays {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.motion-container {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  width: 100%;
}

.motion-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.motion-item-display {
  padding: 12px 40px;
  background-color: #171717;
  border: 1px solid #3c3c3c;
  color: var(--header-color);
  border-radius: 32px;
  font-size: 24px;
  text-align: center;
}
