<dialog class="modal">
    <!-- <form class="edit-form" id="edit-form">
        <legend>Edit details</legend>
        <label for="etunimi">Etunimi:</label>
        <input type="text" placeholder="Etunimi:" name="etunimi" value= />
        <label for="sukunimi">Sukunimi:</label>
        <input type="text" placeholder="Sukunimi:" name="sukunimi" value= />
        <label for="yritys">Yritys:</label>
        <input type="text" placeholder="Yritys:" name="yritys" value= />
        <label for="osasto">Osasto:</label>
        <input type="text" placeholder="Osasto:" name="osasto" value= />
        <label for="kaupunki">Kaupunki:</label>
        <input type="text" placeholder="Kaupunki:" name="kaupunki" value= />
        <button type="submit" id="edit-form-submit">Save Changes</button>
        <button type="submit" id="cancel" data-cancel>Cancel</button>
    </form> -->
  </dialog>
</body>
</html>