.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.content {
  max-width: var(--content-max-width);
  /* width: var(--content-max-width); */
  margin: 0 auto;
  display: flex;
}

header .content {
  padding: var(--div-padding) 24px;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
}

main .content {
  flex-grow: 1;
  flex-direction: column;
}

.home--main h2 {
  line-height: var(--header-line-height);
  font-weight: var(--header-weight);
  font-size: var(--header-size);
  width: 80%;
}

.home {
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 0 24px;
}

.home--main {
  background-image: url("./assets/home.png");
  background-size: cover;
}

.home,
.vans,
.van--detail {
  width: 100%;
}

footer .content {
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  padding: var(--div-padding) 24px;
}

footer {
  background-color: black;
}

.vans {
  padding: var(--div-padding) 24px;
}

nav a {
  color: var(--header-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

a:focus,
input:focus {
  outline: none;
}

nav {
  display: flex;
  gap: 32px;
}

.logo {
  text-decoration: none;
  color: var(--header-color);
}

a:hover {
  opacity: 0.8;
}

button:hover {
  cursor: pointer;
}

.home--action {
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 50%;
  background: #ff8c38;
  font-weight: 700;
  margin-top: 22px;
  text-decoration: none;
  border-radius: 5px;
  color: var(--header-color);
}

.home--action:hover {
  outline: 2px solid white;
  outline-offset: -2px;
  opacity: 1;
}

.about--hero {
  background-image: url("https://images.unsplash.com/photo-1530035415911-95194de4ebcc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  min-height: 233.21px;
  border-radius: 10px;
}

.highlight--box {
  background: #ffcc8d;
  padding: 32px 37px;
  color: var(--background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  font-size: 15.95px;
  font-weight: 700;
}

.highlight--box a {
  background: #161616;
  padding: 12px 22px;
  border-radius: 10px;
  text-decoration: none;
  color: var(--header-color);
}

.about-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.about-image {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 500px;
}

.about-image img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 600px;
}

.about--desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 50%;
  padding: var(--div-padding) 24px;
}

.about--desc ul {
  display: flex;
  flex-direction: column;
  gap: var(--item-gaps);
  padding: 0 24px;
}

.about--desc ul li {
  margin: 0;
  padding: 0;
}

.vans--container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.van--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 300px;
  padding: 12px;
  text-decoration: none;
  color: var(--header-color);
}

.van--content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.van--image {
  width: 100%;
  height: 229.23px;
}
.van--container img {
  width: 100%;
  height: 229.23px;
  object-fit: cover;
  border-radius: 5px;
}

.bold {
  font-weight: 600;
}

.van--container p {
  font-size: 20px;
}

.van--name--type {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.van--desc {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: column;
}

.van--type,
.product--type {
  padding: 6px 12px;
  align-self: self-start;
  border-radius: 5px;
  color: #ffead0;
}

.van--detail {
  padding: var(--div-padding) 24px;
  justify-content: center;
}

.filters {
  display: flex;
  align-items: center;
  gap: var(--item-gaps);
  margin-top: 22px;
  flex-wrap: wrap;
  max-width: 500px;
}

.filters a,
.filters button {
  flex-basis: 100px;
}

.filters a {
  color: var(--header-color);
}

.filters button {
  padding: 10px 0;
  border-radius: 5px;
}

.selected {
  font-weight: bold;
  border: none;
  color: #ffead0;
}

.simple {
  background: #e17654;
}

.rugged {
  background: #115e59;
}

.luxury {
  background: #161616;
}

.normal-filter {
  background: #ffead0;
  transition: all 0.3s ease;
  border: none;
}

.van--detail a {
  font-size: 15.95px;
  font-weight: 500;
  text-decoration: none;
  color: var(--header-color);
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.product--content {
  display: flex;
  gap: 24px;
}

.product--content img {
  width: 497.32px;
  border-radius: 10px;
}

.product--content h3 {
  font-weight: normal;
}

.product-desc {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 45%;
  gap: 20px;
}

.product--name--type {
  display: flex;
  gap: 12px;
}

.product-desc button {
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 700;
  background: #ff8c38;
  border: none;
  border-radius: 5px;
}

.host-layout {
  padding: var(--div-padding) 24px;
  width: 100%;
  flex-direction: column;
  flex: 1;
}

.host-main-nav {
  margin-bottom: 22px;
}

.host-layout a {
  margin: 0;
  padding: 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  background: #ffead0;
  color: #161616;
  padding: 37px 26px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details button {
  background-color: transparent;
  border: none;
  color: var(--background);
  font-size: 16px;
  font-weight: 500;
}

.review-score {
  background: #ffddb2;
  color: #161616;

  padding: 45px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.img-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.normal {
  font-weight: normal;
}

.listed-vans-header {
  padding: 26px 0;
}

.listed-vans-header {
  display: flex;
  justify-content: space-between;
}

.listed-vans-header a {
  text-decoration: none;
  color: var(--header-color);
}

.hosted-vans {
  padding: 18px 0;
  margin-top: 32px;
}

.van-container {
  display: flex;
  gap: 12px;
  padding: 25px 0;
}

.van-container img {
  width: 100.88px;
  height: 100.88px;
  border-radius: 6px;
}

.van-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.price {
  font-size: 16px;
  font-weight: 500;
}

.van-link {
  text-decoration: none;
  color: var(--header-color);
}

.host-van-details a {
  display: flex;
  color: var(--header-color);
  text-decoration: none;
  gap: 5px;
  margin: 37px 0;
}

.van-header-info {
  display: flex;
  grid-area: 5px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.van-header-type {
  padding: 5px 10px;
  border-radius: 5px;
}

.details-nested {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.van-images {
  width: 153px;
  height: 151.56px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  padding: 12px 0;
}

.van-images img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.host-van-detail-page {
  display: flex;
  gap: 32px;
  max-width: var(--content-max-width);
  height: 500px;
  flex: 1;
  align-items: center;
}

.van-header-right {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  flex-grow: 1;
}

.van-header-container {
  flex-basis: 440px;
  height: 100%;
}

.van-header-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  width: 70%;
  gap: 12px;
}

.login h2,
.login h3,
.login h4 {
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.login h2 {
  font-size: 2rem;
}

form input,
form button {
  width: 100%;
}

form input {
  padding: 9px 13px;
  font-size: 1rem;
}

form button {
  margin-top: 22px;
  padding: 18px 0;
  background: #ff8c38;
  color: var(--header-color);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.login-page {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  justify-content: center;
}

.login {
  background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=2021&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.error {
  color: red;
}

.error-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1030px) {
  .host-van-detail-page {
    flex-direction: column;
  }

  .product--content {
    flex-direction: column;
  }

  .product--content img {
    width: 100%;
  }

  .product-desc {
    width: 100%;
  }

  .about-image {
    display: none;
  }

  .about--desc {
    max-width: 100%;
    justify-content: space-between;
    height: 100%;
  }

  .about-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex-direction: column;
    align-items: start;
  }
  .details button {
    display: none;
  }

  .about--hero {
    border-radius: 0;
  }
}
