<form class="modal-form" id="lisaa-form">
    <legend>Lis채채 auto</legend>
    <label for="merkki">Merkki:</label>
    <input type="text" name="merkki" required>
    <label for="merkki">Malli:</label>
    <input type="text"  name="malli" required>
    <label for="merkki">Vuosimalli:</label>
    <input type="number" name="vuosimalli" required>
    <label for="merkki">Omistaja:</label>
        <input type="text"  name="omistaja" required>
        <button type="submit">L채het채</button>
</form>
</body>
</html>