<dialog>
<form class="modal-form" id="lisaa-form">
    <legend>Lis채채 auto</legend>
    <label for="merkki">Merkki:</label>
    <input type="text" name="merkki">
    <label for="merkki">Malli:</label>
    <input type="text"  name="malli">
    <label for="merkki">Vuosimalli:</label>
    <input type="text"  maxlength="4" name="vuosimalli">
    <label for="merkki">Omistaja:</label>
        <input type="text"  name="omistaja">
        <button type="submit">L채het채</button>
</form>

</dialog>
</body>
</html>