.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 24px 0;
  flex-grow: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px 0;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 24px 0;
  background-color: #121212;
  position: relative;
}

.header-content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.search-form {
  display: flex;
  background-color: #171717;
  border: 2px solid #3c3c3c;
  padding: 8px 12px;
  gap: 14px;
  border-radius: 4px;
}

.search-form input {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: var(--header-color);
}

.search-form button {
  background-color: transparent;
  font-size: 16px;
  border: none;
  padding: 0;
  color: var(--header-color);
}

.search-form button:hover {
  cursor: pointer;
  opacity: 0.7;
}

input:focus,
button:focus {
  outline: none;
}

.home-btn {
  text-decoration: none;
  color: var(--header-color);
}

.nav-bar {
  background-color: var(--accent);
}

.nav-bar ul {
  padding: 0;
  display: flex;
  list-style-type: none;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.nav-bar ul li {
  padding: 12px 24px 12px 0;
}

.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--background);
}

.autot-boxi {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 24px;
  width: 100%;
}

.auto-boxi {
  flex: 1 0 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  border: 2px solid #3c3c3c;
  border-radius: 8px;
  gap: 8px;
  position: relative;
}

.auto-logo {
  border: 1px solid white;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: var(--header-color);
  color: var(--background);
}

.omistaja {
  font-weight: bolder;
}

.label {
  color: var(--label-color);
  font-weight: bolder;
}

.lisaa-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px 0;
  width: 40%;
  margin-top: 24px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.lisaa-form button {
  padding: 12px;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--header-color);
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: all 0.3s ease-in;
}

.lisaa-form button:hover {
  outline: 2px solid var(--header-color);
}

.form-input input {
  width: 100%;
  background-color: #171717;
  border: 2px solid #3c3c3c;
  color: var(--header-color);
  border-radius: 6px;
  padding: 12px 16px;
  font-size: 20px;
}

.form-input label {
  font-size: 18px;
  font-weight: bolder;
}

.remove-car-btn {
  color: #1c1c1c;
  border-radius: 50%;
  border: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 16px;
  background-color: #ff4b4b;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.remove-car-btn:hover {
  color: var(--header-color);
}
