.app {
  max-width: var(--content-max-width);
  margin: 0 auto;
  border: 1px solid black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notes {
  display: flex;
  width: 500px;
  background-color: pink;
}

.notes-left,
.notes-right {
  display: flex;
  flex-direction: column;
}

.notes-right {
  flex: 1;
  border: 1px solid black;
}

.notes-left {
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.menu {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-buttons {
  display: flex;
}

.menu-buttons button {
  flex: 1;
}

.notelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 300px;
  overflow-y: auto;
}

.noteitem {
  padding: 4px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.selected {
  background-color: blue;
}
