:root {
  --background: #1c1c1c;
  --accent: #ffffff;
  --content-max-width: 1200px;
  --div-padding: 2rem;
  --item-gaps: 1rem;

  --header-size: 60px;
  --header-weight: 900;
  --header-color: #f2f2f2;

  --second-header-size: 48px;
  --third-header-size: 40px;

  --text-size: 16px;
  --text-weight: 400;
  --text-color: #c2c2c2;

  --label-size: 13px;
  --label-color: #a2a2a2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
  background: var(--background);
}

h1 {
  font-size: var(--header-size);
  color: var(--header-color);
  font-weight: var(--header-weight);
  margin: 0;
}

h2 {
  font-size: var(--second-header-size);
  color: var(--header-color);
  font-weight: var(--header-weight);
  margin: 0;
}

h3 {
  font-size: var(--third-header-size);
  color: var(--header-color);
  font-weight: var(--header-weight);
  margin: 0;
}
p {
  font-size: var(--text-size);
  color: var(--text-color);
  font-weight: var(--text-weight);
  margin: 0;
}

p {
  font-size: var(--label-size);
  color: var(--label-color);
  font-weight: var(--text-weight);
  margin: 0;
}

.header-content,
main {
  width: var(--content-max-width);
  border: 1px solid white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://m.media-amazon.com/images/M/MV5BMjIwMjc2NDAyNF5BMl5BanBnXkFtZTcwNTU0ODY2NA@@._V1_FMjpg_UX1000_.jpg)
    no-repeat bottom center fixed;
  background-size: cover;
  height: 30vh;
  position: relative;
}

main {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  height: 70vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--header-color);
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 10px;
  border: 0.1px solid var(--header-color);
  background-color: var(--background);
  box-shadow: 20px 20px 60px #181818, -20px -20px 60px #202020;
}

header a:hover {
  opacity: 0.9;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 42px;
}

h1 {
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.header-content h1,
.header-content a {
  align-self: center;
}

.movie-search {
  position: absolute;
  bottom: -30px;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #090909,
    #111111,
    #171717,
    #1c1c1c
  );
  border: 1px solid var(--label-color);
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  width: 40vw;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.movie-search input {
  background: transparent;
  border: none;
  color: var(--header-color);
  font-family: "Satoshi", sans-serif;
}

.movie-search input:focus {
  outline: none;
}

.search-input {
  align-self: center;
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.movie-search input,
.movie-search i {
  color: var(--label-color);
  font-size: 1.5rem;
}

.movie-search button {
  height: 100%;
  padding: 10px 30px;
  background-color: var(--background);
  border: none;
  font-weight: bolder;
  color: var(--header-color);
  cursor: pointer;
}

.button {
  align-self: center;
}
