.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-image: url("https://products.ls.graphics/mesh-gradients/images/38.-Sky-Blue_1.jpg");
  background-size: cover;
}

.landing h1 {
  margin-bottom: 7px;
}

.landing--start,
.submit--btn {
  padding: 16px 28px;
  background-color: #4d5b9e;
  border-radius: 25px;
  border: none;
  color: var(--header-color);
  width: 193px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
}
.landing--start {
  margin-top: 29px;
}

.landing--start:hover,
.submit--btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.question-container {
  padding: 24px 0;
  border-bottom: 0.8px solid #dbdef0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question-options {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 6px 0;
}

.question--option {
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: transparent;
  font-size: 1rem;
  color: #293264;
  font-weight: bold;
}

.question--option:hover {
  background-color: #d6dbf5;
  cursor: pointer;
}

.selected {
  outline: 1px solid white;
  outline-offset: -2px;
  background-color: pink;
}

input[type="radio"] {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
}

input[type="radio"]:checked + label {
  outline: 1px solid white;
  outline-offset: -2px;
  background-color: #1092ca;
}

input[type="radio"]:disabled + label,
button:disabled {
  cursor: not-allowed;
  background-color: grey;
  opacity: 0.6;
  user-select: none;
}

.results {
  margin-top: 1rem;
  display: flex;
  width: 100%;
}

.new-game {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  max-width: var(--content-max-width);
  min-width: 400px;
  gap: 2rem;
}

.new-game h3,
.new-game button {
  align-self: center;
}

.results button,
.results h3 {
  align-self: center;
  margin: 0;
}

.showUserSelected {
  outline: 4px dashed white;
  outline-offset: -2px;
}

@media (max-width: 600px) {
  .results {
    justify-content: center;
    align-items: center;
  }
  .new-game {
    gap: 1rem;
    flex-direction: column;
  }
}

.landing form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options {
  display: flex;
  gap: 12px;
  padding: 1rem 0;
  margin-top: 1rem;
}

.options select {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
