.app {
  max-width: var(--content-max-width);
  margin: 0 auto;
  background-color: var(--header-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  flex: 1;
  flex-direction: column;
  gap: 32px;
  color: var(--background);
  padding: 28px 37px;
}

main form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

main form,
.meme img {
  max-width: 477px;
}

main input,
main button {
  font-family: system-ui, sans-serif;
}

main input {
  flex: 1 0 222px;
  font-size: 1rem;
  padding: 7px 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

main button {
  flex: 1 0 100%;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
  padding: 10px 0;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--header-color);
}

main button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo img {
  height: 26.22px;
}

.meme img {
  border-radius: 6px;
  object-fit: cover;
}

.meme {
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
}

.meme .top-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.meme .bottom-text {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
