:root {
  --background: #1c1c1c;
  --accent: #ffffff;
  --content-max-width: 1200px;
  --div-padding: 2rem;
  --item-gaps: 1rem;

  --header-size: 60px;
  --header-weight: 900;
  --header-color: #f2f2f2;

  --second-header-size: 48px;
  --third-header-size: 40px;

  --text-size: 16px;
  --text-weight: 400;
  --text-color: #c2c2c2;

  --label-size: 13px;
  --label-color: #a2a2a2;
  --toastify-toast-min-height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--header-color);
  font-family: system-ui, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 2rem;
}
